[build]
builder = "nixpacks"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"

[environments]
  [environments.production]
    [environments.production.variables]
      NODE_ENV = "production"